
.SubNav{
    width: 1024px; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    
}
.SubNav{
    width: 1024px; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    
  }
  .SubNav li {
  float: left;
  
  }